{% extends 'base.html.twig' %}

{% block title %}Modifier Idée{% endblock %}

{% block body %}
    <h1>Modifier Idée</h1>

    {{ include('tsk/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_tsk_index') }}">Retour à la liste</a>

    {{ include('tsk/_delete_form.html.twig') }}
{% endblock %}
