{% extends 'base.html.twig' %}

{% block title %}New CategorieCours{% endblock %}

{% block body %}
    <h1>Create new CategorieCours</h1>

    {{ include('categorie_cours/_form.html.twig') }}

    <a href="{{ path('app_categorie_cours_index') }}">back to list</a>
{% endblock %}
